.readPost {
    flex: 9;
}

.readPostWrapper {
    padding: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}

.readPostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.readPostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.readPostTitleInput {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.readPostTitleInput:focus {
    outline: none;
}

.readPostEdit {
    float: right;
    font-size: 16px;
}

.readPostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.readPostIcon:first-child {
    color: teal;
}

.readPostIcon:last-child {
    color: tomato;
}

.readPostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.readPostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.readPostDescInput {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    border: none;
    height: 50vh;
}

.updatePostButton {
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
    font-weight: bold;
}

.readPostDescInput:focus {
    outline: none;
}

.readPostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}